/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

nav {
    font-size: 0.875em;
    gap: 0.5rem;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

nav a {
    display: inline-block;
    bottom: 0;
    right: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#global-navigation-items {
    display: flex;
    flex-direction: row;
}

#global-nav-home {
    margin-right: auto;
}

#global-navigation-items .brand-and-logo {
    color: green;
}

#global-nav-log-out {
    margin-left: auto;
}

#global-navigation-items a:hover {
    background-color: yellow;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}

.notice {
    color: green;
}

section.product {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

section.product img {
    border-radius: 8px;
    flex-basis: 50%;
    max-width: 50%;
}

.view-session {
    border: 0.1em solid gray;
    padding: 1.0em;
}
