<h1><%= t ".title" %></h1>
<p>Find me in app/views/products/index.html.erb</p>

<!--<%= debug @products %>-->

<%= link_to "New Product", new_product_path if authenticated? %>

<h1>Products</h1>

<div id="products">
  <%= render partial: "index_element", collection: @products, as: :product, cached: true %>
</div>
